/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	margin:auto;
	max-width: 1140px;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #fffff7;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 50px 0px 0px 0px;
	width: 110%;
}

footer {
	position:absolute;
	left:0;
	margin:0px;
	width:100vw;
	height:5%;
	background-color: white;
}

section {
	margin: 50px 80px 0px 80px;
}

a {
	color:black;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:8px;
	letter-spacing: 0.1em;
	margin-top: 5px;
	font-weight: 100;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav a {
	text-decoration: none;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	margin-right: 100px;
}

nav li {
	padding: 0 0 0 50px;
	font-size: 1.2em;
}

nav li img {
	width:20px;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	width: 88%;
	margin: 80px 0px ;
}

#introduction article {
	width:43%;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery figcaption {
	margin: 5px 0px 0px 0px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 30%;
 	margin: auto;
	margin-top: 50px;
}

#login {
	width: 35%;
	margin:200px auto 300px auto;
}

#contact > *, #login > * {
	text-align: center;
	width:100%;
}

#contact h2, #login h2 {
	margin-bottom: 20px;
}

#contact form, #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input, .modale input, .modale select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label, #login label {
	margin: 2em 0 1em 0;
}

#contact textarea, #login textarea {
	border: none;
	resize: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 200px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	align-content: center;
	margin:15px 100px;
}

.li_div, nav li, input[type="submit"], .fleche, .modif_btn, #label_photo {
	cursor:pointer;
}

/** Filters **/

.ul_div {
	display: flex;
	justify-content: center;
	margin: 40px;
	color:#1D6154;
}

.li_div {
	margin:5px;
	min-width:70px;
	text-align: center;
	border: solid #1D6154;
	border-radius: 60px;
	border-width: 1px;
	padding:10px 8px 10px 8px;
	font-family: 'Syne';
}

.li_div:hover {
	background-color: #1D6154;
	color:white;
}

/** Login **/

.bold {
	font-weight: bold;
}

#login div {
	color: red ;
}

/** Edit **/

.bloc_edit {
	position:absolute;
	left:0;
	text-align: center;
	width: 100%;
	background-color: black;
	color: #fffff7;
	font-size: 15px;
	font-family: 'Work Sans';
}

.bloc_edit i {
	margin:25px 5px 25px 0px ;
}

.modif_btn {
	position:relative;
	bottom: 52px;
	left:63%;
}

/** Modale */
  .modale {
	display: none; 
	position: fixed;  
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);  
	z-index: 1000; 
	justify-content: center;
	align-items: center;
  }
  
  .contenu_modale {
	background-color: #fff;
	padding: 20px;
	border-radius: 15px;
	width: 600px;
	text-align: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .btn_fermer {
	color: black;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
  }

  .entete_1 {
	display: flex;
	justify-content: flex-end;
  }

  .entete_2 {
	display: flex;
	justify-content: space-between;
	margin : 5px 10px 0px 10px;
  }

  .modale img {
	width: 100%;
  }

  .modale p {
	font-size: 25px;
	padding-top: 10px;
  }

  .modale hr {
	width:77%;
	color: rgb(241, 241, 241);
  }

  .modale input {
	width:45%;
  }

  .galerie_modale {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	margin:40px 70px 50px 70px;
  }

  .galerie_modale figure {
	display: grid;
	z-index: 1;
  }

  .galerie_modale img {
	grid-area: 1/1;
	width: 100%;
  }

  .corbeille {
	background-color: black;
	grid-area: 1/1;
	border-radius: 3px;
	width: 18px;
	height: 18px;
	margin: 10% 10% 10% 70%;
	z-index: 2;
  }

  .corbeille i {
	color: white;
	font-size: 10px;
	text-align: center;
	padding-top: 3px;
  }

  .contenu_modale form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 40px 0px 40px 0px;
  }

  .modale2 label {
	padding: 20px 0px 10px 0px;
	text-align: left;
  }

  .modale2 select, .modale2 label {
	width: 77%;
  }

  .div_category {
	display:grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 1fr; 
	width:100%;
  }

  .modale2 input {
	width: 73%;
  }

  .modale2 input, .modale2 select {
	padding-left:20px;
  }

  .modale2 select {
	appearance: none;
	grid-area: 1 / 1 / 1 / 11;
	background-color: white;
	place-self: center;
  }


   #cat_fleche {
	grid-area: 1 / 9 / 1 / 10;
	align-content: center;
	font-size: 10px;
	color: #2e2e2eb4;
  }

  input[value="Valider"] {
	background-color: #4d4d4d54;
  }

  .fleche {
	color: black;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
  }

  /** Modale : champ d'ajout d'image **/

  .ajout_img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #e0edef;
	width:77%;
	margin-bottom: 10px;
  }

  .ajout_img span {
	color: #75757554;
	font-size: 70px;
	display: flex;
	justify-content: center;
	margin: 20px 0px 10px 0px;
  }

  .ajout_img input {
	width: 50%;
	background-color: #9b9b9b54;
	color: rgb(16, 79, 161);
	margin:auto;
	font: inherit;
	box-shadow: none;
	width:40%;
  }

  .ajout_img p {
	font-size: 10px;
	padding-bottom: 20px;
  }

  #photo {
	display: none;
  }

  #label_photo {
	border: none;
	text-align: center;
	border-radius: 60px;
	background-color: #9b9b9b54;
	color: rgb(16, 79, 161);
	margin:auto;
	padding: 15px 0px 15px 0px;
	font: inherit;
	box-shadow: none;
	width:40%;
  }

  #div_wrapper {
	width:40%;
	z-index:0;
	place-self: center;
  } 